<div>
    <table class="mat-table">
        <thead>
            <tr class="mat-header-row">
                <th class='mat-header-cell'>Id</th>
                <th class='mat-header-cell'>Task</th>
                <th class='mat-header-cell'>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row" *ngFor="let todo of todos">
                <td class="mat-cell">{{todo.id}}</td>
                <td class="mat-cell">{{todo.task}}</td>
                <td class="mat-cell">{{todo.done}}</td>
            </tr>
        </tbody>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
        (page)="nextPage($event)">
        
    </mat-paginator>
</div>